body {
    font-family: sans-serif;
    background: #DDD;
}

a {
    text-decoration: none;
    color: #00506D;
}

a:hover {
    text-decoration: underline;
}

h1 {
    text-align: center;
    padding-bottom: 5px;
    border-bottom: 10px solid #000;
}

.author {
    font-size: 14pt;
    text-align: left;
    font-family: monospace;
    color: #000;
    margin: 1em;
}

p {
    max-width: 60em;
    font-size: 12pt;
}

.psetting {
    float: left;
    margin: 1em;
    width: 17em;
    min-height: 30em;
    border-style: solid;
    padding: 0.5em;
}

.psetting p {
    font-size: 12pt;
}

.psetting em {
    font-weight: bold;
}