<!-- VR; 2014, 2015 -->
<launch>
  <node
    pkg="wander"
    type="wander"
    name="$(anon vehicle0)"
    args="$(find dubins_traffic_utils)/examples/data/square.json"
    ns="vehicle0"
    output="screen"
  >
    <remap
      from="cmd_vel"
      to="mobile_base/commands/velocity"
    />
  </node>

  <node
    pkg="wander"
    type="wander"
    name="$(anon vehicle1)"
    args="$(find dubins_traffic_utils)/examples/data/square.json"
    ns="vehicle1"
    output="screen"
  >
    <remap
      from="cmd_vel"
      to="mobile_base/commands/velocity"
    />
  </node>
</launch>

